logs
project/project
project/target
target
tmp
.cache
.history
*.class
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.DS_Store
.ensime
.ensime_lucene
public/images/screens/
project/activator*
/.target
/bin
