@layout("Hello Play Akka Angular WebSocket") {
<div class="jumbotron" ng-controller="TimerController">
	<div class="container">


		<button class="btn btn-primary col-sm-4 col-sm-offset-1"
			ng-click="start()">Start</button>
	</div>


</div>
<body>
	<div class="container">
		<div ng-controller="TimerController">

			<ul ng-controller="TimerController">
				<li ng-repeat="data in node1|limitTo:-10">{{ data }}</li>
			</ul>

			<ul ng-controller="TimerController">
				<li ng-repeat="data in node2|limitTo:-10">{{ data }}</li>
			</ul>


		</div>
	</div>
</body>
</div>
}
