@layout("Snappy Database") {
<meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>
<div class="jumbotron" ng-controller="TimerController">
	<div class="container">

		<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
			<li role="presentation" class="active"><a href="#snappy-head"
				data-toggle="tab">Home</a></li>
			<li role="presentation"><a href="#snappy-code" data-toggle="tab">Code</a></li>
		 	<li role="presentation"><a href="#snappy-actors"
				data-toggle="tab">Actors</a></li>
			<li role="presentation"><a href="#snappy-about"
				data-toggle="tab">About</a></li>
			<li role="presentation"><a href="#snappy-contact"
				data-toggle="tab">Contact</a></li>

		</ul>
	</div>
</div>

<body>

	<div id="main">
		<div id="my-tab-content" class="tab-content">

			<div ng-controller="TimerController" class="tab-pane active"
				id="snappy-head">
				<h1>Demo</h1>

				<button class="btn btn-primary col-sm-2 col-sm-offset-1"
					ng-click="start()">Start</button>
				<br> <br> <br> <br>
				<h1>Output</h1>
				<div id="content-1">

					<div id="content-1-1">
						<ul ng-controller="TimerController">

							<b>Node 1</b>
							<li ng-repeat="data in node1|limitTo:-5 track by $index">{{data
								}}</li>
						</ul>
					</div>
				</div>

				<div id="content-2">

					<div id="content-2-1">
						<ul ng-controller="TimerController">
							<b>Node 2</b>
							<li ng-repeat="data in node2|limitTo:-5 track by $index">{{data
								}}</li>
						</ul>
					</div>

					<br>
					<div id="content-2-2">
						<ul ng-controller="TimerController">
							<b>Node 3</b>
							<li ng-repeat="data in node3|limitTo:-5 track by $index">{{data
								}}</li>
						</ul>

					</div>

				</div>
				<div id="content-1">
					<br>
					<div id="content-1-1">
						<ul ng-controller="TimerController">
							<b>Node 4</b>
							<li ng-repeat="data in node4|limitTo:-5 track by $index">{{data
								}}</li>
						</ul>

					</div>
				</div>
				<br>
				<div id="content-2">
					<div id="content-2-1">
						<ul ng-controller="TimerController">
							<b>Node 5</b>
							<li ng-repeat="data in node5|limitTo:-5 track by $index">{{data
								}}</li>
						</ul>
					</div>
					<br>
					<div id="content-2-2">
						<ul ng-controller="TimerController">
							<b>Node 6</b>
							<li ng-repeat="data in node6|limitTo:-5 track by $index">{{data
								}}</li>
						</ul>
					</div>
					<br>
				</div>
				<div id="content-1">
					<br>
					<div id="content-1-1">
						<ul ng-controller="TimerController">
							<b>Node 7</b>
							<li ng-repeat="data in node7|limitTo:-5 track by $index">{{data
								}}</li>
						</ul>

					</div>
					<br>
				</div>
				<div id="content-2">
					<div id="content-2-1">
						<ul ng-controller="TimerController">
							<b>Node 8</b>
							<li ng-repeat="data in node8|limitTo:-5 track by $index">{{data
								}}</li>
						</ul>

					</div>
					<br>
					<div id="content-2-2">
						<ul ng-controller="TimerController">

							<b>Node 9</b>
							<li ng-repeat="data in node9|limitTo:-5 track by $index">{{data
								}}</li>
						</ul>

					</div>
					<br>
				</div>
				<div id="content-2">
					<div id="content-2-1">

						<ul ng-controller="TimerController">

							<b>Node 10</b>
							<li ng-repeat="data in node8|limitTo:-5 track by $index">{{data
								}}</li>
						</ul>

					</div>
					<br>
				</div>
				<br> <br> <br>
			</div>


			<div class="tab-pane" id="snappy-code">
				<h1>Code</h1>
					<h2><a href="https://github.com/jblatt1/snappydb">Snappy Database
					Github</a></h2><br>
				<h2><a href="https://github.com/tdicken73/snappyWebsiteFinal/">SnappyDB Website
					Github (including database)</a></h2><br>
			
					
				<h1>Round-Robin Backup Algorithm</h1>
				<img src="http://40.media.tumblr.com/462eb4cead185c4f4509072cfc825a7d/tumblr_ng3wmjsoXn1qm7eqxo1_1280.png">
				<br><br>
				<h1>Actor Design</h1>
				 <img src=https://38.media.tumblr.com/cfa774d93d17b4200ae66713b0517f21/tumblr_ng3wos3kPA1qm7eqxo1_500.png>
			</div>


			<div class="tab-pane" id="snappy-about">
				<h1>
					<b>Technologies in use</b>
					<h2>
					<ul>
						<li>Scala</li>
						<li>Akka Actors</li>
						<li>Websockets</li>
						<li>Play</li>
						<li>AWS</li>
						<li>Bootstrap</li>
						<li>Angular</li>
					</ul>
					</h2>
					<h2>What is our project?</h2>
<h3>Our project is, simply put, a concurrent key-value store database, built using Actors.  
When using actors, it becomes far easier to create concurrent and distributed applications.  By implementing a database concurrently, it allows for much faster speeds as well as far greater scalability.  In our system, we are able to receive commands, determine which nodes to store data/access data on, and read/write to disk all concurrently.</h3>
					
					<h2>How we use Akka actors</h2>
<h3>	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using actors was a very important part of our database because it allowed us to easily make our applications concurrent.  For our system, there were 5 main actors that we used, our Receptionist, Organizer, Node, Logger, and WebActor.
<br><br>
<b>Receptionist</b><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Our receptionist actor can be thought of as the interface to our database.  It passes along commands to the organizer which makes the database tick.  It tells the database to put data, get data, add more nodes, and specifies how many backups to keep of each piece of data.
<br><br>
<b>Organizer</b><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Organizer actor in our system is in charge of keeping track of Nodes, as well as deciding which nodes to put data into as well as get data from.  It decides which nodes get data by using a round-robin distributed algorithm, making sure that all data is backed up.  Furthermore, it keeps a map of keys to all Nodes that contain it’s data to make sure data can be retrieved, regardless if Nodes have failed.
<br><br>
<b>Node</b><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This actor is in charge of actually reading and writing data to disk.  It will receive the put/get command then use the Lightning Memory-Mapped Database to read/write the key-value to disk.  When it is done, it will send logging messages to the logging actor, as well as return its result to the organizer.
<br><br>
<b>Logger</b><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;As the name indicates, this actor is solely used for logging purposes.  Specifically, it logs the commands that are performed to readable text files, so that they may be viewed at runtime for demo purposes.  It should be noted that this uses Java PrintWriter to write to files, and as such will log at a much slower pace than the database is actually running.
<br><br>
<b>WebActor</b><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;For our website, we make use of the Play framework and a WebActor.  This actor is in charge of communicating with the Receptionist to make calls to our database.  When it receives results from the Receptionist, it then uses websockets to push these results to the clients.

			<br><br><br><br><br><br><br>		
					</h3>
			</div>

 			<div class="tab-pane" id="snappy-actors">
				<h1>Actors</h1>
				<h2>How we use Akka actors</h2>
				<h3>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using actors
					was a very important part of our database because it allowed us to
					easily make our applications concurrent. For our system, there were
					5 main actors that we used, our Receptionist, Organizer, Node,
					Logger, and WebActor. <br>
					<br> <b>Receptionist</b><br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Our
					receptionist actor can be thought of as the interface to our
					database. It passes along commands to the organizer which makes the
					database tick. It tells the database to put data, get data, add
					more nodes, and specifies how many backups to keep of each piece of
					data. <br>
					<br> <b>Organizer</b><br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Organizer
					actor in our system is in charge of keeping track of Nodes, as well
					as deciding which nodes to put data into as well as get data from.
					It decides which nodes get data by using a round-robin distributed
					algorithm, making sure that all data is backed up. Furthermore, it
					keeps a map of keys to all Nodes that contain it’s data to make
					sure data can be retrieved, regardless if Nodes have failed. <br>
					<br> <b>Node</b><br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This actor is
					in charge of actually reading and writing data to disk. It will
					receive the put/get command then use the Lightning Memory-Mapped
					Database to read/write the key-value to disk. When it is done, it
					will send logging messages to the logging actor, as well as return
					its result to the organizer. <br>
					<br> <b>Logger</b><br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;As the name
					indicates, this actor is solely used for logging purposes.
					Specifically, it logs the commands that are performed to readable
					text files, so that they may be viewed at runtime for demo
					purposes. It should be noted that this uses Java PrintWriter to
					write to files, and as such will log at a much slower pace than the
					database is actually running. <br>
					<br> <b>WebActor</b><br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;For our
					website, we make use of the Play framework and a WebActor. This
					actor is in charge of communicating with the Receptionist to make
					calls to our database. When it receives results from the
					Receptionist, it then uses websockets to push these results to the
					clients. <br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
				</h3>
			</div>

			<div class="tab-pane" id="snappy-contact">
				<h1>Contact</h1>
				<h2>Jared Blatt</h2>
				<address>
					<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;jblatt1
						at mix.wvu.edu</h3>
				</address>
				<h2>Todd Dicken</h2>
				<address>
					<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tdicken
						at mix.wvu.edu</h3>
				</address>
			</div>

		</div>


		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$('#tabs').tab();
			});
		</script>
	</div>
	</div>
</body>
</div>

}
